.demo-card-wide.mdl-card {
  display: inline-block;
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('https://getmdl.io/assets/demos/welcome_card.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

body {
  padding: 20px;
  background: #fafafa;
  position: relative;
  padding: 0px 0px;
}

header {
  background: #7bc3d1;
  text-align: center;

}

h1 {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px;
}

.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}
