<header class="header">
  <div>
    <h1><img src="/FLIGHTm8.png" alt=""></h1>
  </div>
</header>
<div class="mdl-layout__drawer" style="padding: 0">
  <span class="mdl-layout-title"><img src="/FLIGHTm8.png" alt=""></span>
  <nav class="mdl-navigation">
    <p class="mdl-navigation__link" style="color: black; font-weight: bold;"></p>
    <form action="/login" method="post">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <input type="hidden" name="_method" value="delete">
      <button class="mdl-navigation__link" style="color: red; ont-weight: bold;">Log out</button>
      <hr style="margin: 0;">
    </form>

    <a class="mdl-navigation__link" href="" style="color: black; font-weight: bold;">Profile +</a>
    <hr style="margin: 0;">

    <a class="mdl-navigation__link" href="" style="color: black; font-weight: bold;">Deals +</a>
    <a class="mdl-navigation__link" href="">Groups</a>
    <a class="mdl-navigation__link" href="">Group Planning</a>
    <a class="mdl-navigation__link" href="">Group Trips</a>
    <a class="mdl-navigation__link" href="">Group Likes</a>
    <hr style="margin: 0;">

    <a class="mdl-navigation__link" href="" style="color: black; font-weight: bold;">Group Deals</a>
    <a class="mdl-navigation__link" href="">Your Points</a>
    <a class="mdl-navigation__link" href="">See Your Rewards</a>
    <a class="mdl-navigation__link" href="">Book Using Rewards</a>
    <hr style="margin: 0;">

    <a class="mdl-navigation__link" href="" style="color: black; font-weight: bold;">Contact Us</a>

  </nav>
</div>
<nav>
  <!-- <div class="filter">
    <div class="filterListContinent" align="center">
      <div id="asia-filter" class="rkmd-checkbox checkbox-ripple checkbox-light">
        <label class="input-checkbox checkbox-lightBlue">
          <input type="checkbox" id="checkbox-5" checked>
          <span class="checkbox"></span>
        </label>
        <label for="checkbox-5" class="label">Asia</label>
      </div>
      <div class="rkmd-checkbox checkbox-ripple checkbox-light">
        <label class="input-checkbox checkbox-lightBlue">
          <input type="checkbox" id="checkbox-5" checked>
          <span class="checkbox"></span>
        </label>
        <label for="checkbox-5" class="label">Europe</label>
      </div>
      <div class="rkmd-checkbox checkbox-ripple checkbox-light">
        <label class="input-checkbox checkbox-lightBlue">
          <input type="checkbox" id="checkbox-5" unchecked>
          <span class="checkbox"></span>
        </label>
        <label for="checkbox-5" class="label">Africa</label>
      </div>
      <div class="rkmd-checkbox checkbox-ripple checkbox-light">
        <label class="input-checkbox checkbox-lightBlue">
          <input type="checkbox" id="checkbox-5" unchecked>
          <span class="checkbox"></span>
        </label>
        <label for="checkbox-5" class="label">North America</label>
      </div>
      <div class="rkmd-checkbox checkbox-ripple checkbox-light">
        <label class="input-checkbox checkbox-lightBlue">
          <input type="checkbox" id="checkbox-5" unchecked>
          <span class="checkbox"></span>
        </label>
        <label for="checkbox-5" class="label">South America</label>
      </div>
    </div> -->
    <!-- <button class="btn btn-default filter-button" data-filter="all">Search Deals</button> -->
  <!-- </div> -->
  <button class="btn btn-default filter-button" id="savedDealsButton" data-filter="all">My Saved Deals</button>
  <button class="btn btn-default filter-button" id="preferredDealsButton" data-filter="all">Show Preferred Deals</button>
</nav>
<main>
  <div class="results">
  </div>
</main>
<script id="source" type="template">
  <div class="demo-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title" background={{image_url}}>
      <h2 class="mdl-card__title-text">{{title}}</h2>
    </div>
    <div class="mdl-card__supporting-text">
      {{description}}
      {{price}}
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        Add to favorites
      </a>
    </div>
    <div class="mdl-card__menu">
      <button class="mdl-button mdl-js-ripple-effect saveThisDeal" data-deal_id="{{id}}" data-user_id="<%= session[:user_id] %>">
        Save
      </button>
    </div>
  </div>
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.js"></script>
