
<header class="header">
  <div>
    <img class="flightm8-img" src="/FLIGHTm8_large_black_mix.png" alt="">
  </div>
</header>


<div class="page-content background" style="background: url('/flight_image.png') center / cover;">

  <div style="margin: 20px; padding-top: 10vh">
    <form class="" action="/users/new" method="get">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Get Started</button>
    </form>
  </div>

  <div style="margin: 20px;">
    <form class="" action="/login" method="get">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Login</button>
  </form>
  </div>

</div>
