<div class="page-content background" style="background-image: url('/b&w.png');">
  <h4>FlightM8</h4>
  <div style="margin: 20px; padding-top: 10vh">
    <form class="" action="/signup" method="get">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Get Started</button>
    </form>
  </div>

  <div style="margin: 20px;">
    <form class="" action="/login" method="get">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Login</button>
  </form>
  </div>

</div>
