<div class="page-content" style="text-align: center; margin-top: 25vh;">
  <div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--4-col">

      <form class="" action="/login" method="post">
        <div class="mdl-textfield mdl-js-textfield">
          <label class="mdl-textfield__label" for="text1">Email:</label>
          <input class="mdl-textfield__input" name="email" type="text" id="text1">
        </div>
        <div class="mdl-textfield mdl-js-textfield">
          <label class="mdl-textfield__label" for="text2">Password:</label>
          <input class="mdl-textfield__input" name="password" type="password" id="text2">
        </div>
        <div>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Log in</button>
        </div>
      </form>
    </div>
    <div class="mdl-layout-spacer"></div>
  </div>
</div>
