<div class="page-content" style="text-align: center; margin-top: 25vh;">
  <div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--4-col">
      <span class="mdl-layout-title"><img src="/FLIGHTm8_large_black_mix.png" alt=""></span>
      <form class="" action="/users" method="post">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <div class="mdl-textfield mdl-js-textfield">
          <label class="mdl-textfield__label" for="text4">First Name:</label>
          <input class="mdl-textfield__input" name="name_first" type="text" id="text4">
        </div>
        <div class="mdl-textfield mdl-js-textfield">
          <label class="mdl-textfield__label" for="text5">Last Name:</label>
          <input class="mdl-textfield__input" name="name_last" type="text" id="text5">
        </div>
        <div class="mdl-textfield mdl-js-textfield">
          <label class="mdl-textfield__label" for="text6">Hometown:</label>
          <input class="mdl-textfield__input" name="hometown" type="text" id="text6">
        </div>
        <div class="mdl-textfield mdl-js-textfield">
          <label class="mdl-textfield__label" for="text1">Email:</label>
          <input class="mdl-textfield__input" name="email" type="text" id="text1">
        </div>
        <div class="mdl-textfield mdl-js-textfield">
          <label class="mdl-textfield__label" for="text2">Password:</label>
          <input class="mdl-textfield__input" name="password" type="password" id="text2">
        </div>
        <div class="mdl-textfield mdl-js-textfield">
          <label class="mdl-textfield__label" for="text3">Password Confirm:</label>
          <input class="mdl-textfield__input" name="password_confirm" type="password" id="text3">
        </div>
        <div>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">New User</button>
        </div>
      </form>
    </div>
    <div class="mdl-layout-spacer"></div>
  </div>
</div>
