<div class="page-content" style="text-align: center; margin-top: 25vh;">
  <div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--4-col">
      <form class="" action="/users/<%= session[:user_id] %>/preferences" method="post">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <div class="mdl-textfield mdl-js-textfield">
          <label class="mdl-textfield__label" for="text1">Budget Lower:</label>
          <input class="mdl-textfield__input" name="price_min" type="number" id="text1">
        </div>
        <div class="mdl-textfield mdl-js-textfield">
          <label class="mdl-textfield__label" for="text2">Budget Upper:</label>
          <input class="mdl-textfield__input" name="price_max" type="number" id="text2">
        </div>
        <div class="mdl-textfield mdl-js-textfield">
          <label class="mdl-textfield__label" for="text3">Asia:</label>
          <input class="mdl-textfield__input" name="asia" type="number" id="text3">
        </div>
        <div class="mdl-textfield mdl-js-textfield">
          <label class="mdl-textfield__label" for="text4">Europe:</label>
          <input class="mdl-textfield__input" name="europe" type="number" id="text4">
        </div>
        <div class="mdl-textfield mdl-js-textfield">
          <label class="mdl-textfield__label" for="text5">South America:</label>
          <input class="mdl-textfield__input" name="southamerica" type="text" id="text5">
        </div>
        <div class="mdl-textfield mdl-js-textfield">
          <label class="mdl-textfield__label" for="text6">North America:</label>
          <input class="mdl-textfield__input" name="northamerica" type="number" id="text6">
        </div>
        <div class="mdl-textfield mdl-js-textfield">
          <label class="mdl-textfield__label" for="text7">Oceania:</label>
          <input class="mdl-textfield__input" name="oceania" type="number" id="text7">
        </div>
        <div class="mdl-textfield mdl-js-textfield">
          <label class="mdl-textfield__label" for="text8">Africa:</label>
          <input class="mdl-textfield__input" name="africa" type="number" id="text8">
        </div>
        <div class="mdl-textfield mdl-js-textfield">
          <label class="mdl-textfield__label" for="text9">Timeframe for travel start:</label>
          <input class="mdl-textfield__input" name="date_start_travel" type="date" id="text9">
        </div>
        <div class="mdl-textfield mdl-js-textfield">
          <label class="mdl-textfield__label" for="text10">Timeframe for travel end:</label>
          <input class="mdl-textfield__input" name="date_end_travel" type="date" id="text10">
        </div>
        <div>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Submit Preferences</button>
        </div>
      </form>
    </div>
    <div class="mdl-layout-spacer"></div>
  </div>
</div>
