<div class="page-content" style="text-align: center; margin-top: 25vh;">
  <div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--4-col">

      <form class="" action="users/<%= session[:user_id] %>/preferences" method="post">
        <div class="mdl-textfield mdl-js-textfield">
          <label class="mdl-textfield__label" for="text4">Budget:</label>
          <input class="mdl-textfield__input" name="first_name" type="text" id="text4">
        </div>
        <div class="mdl-textfield mdl-js-textfield">
          <label class="mdl-textfield__label" for="text5">Favourite Continent:</label>
          <input class="mdl-textfield__input" name="last_name" type="text" id="text5">
        </div>
        <div class="mdl-textfield mdl-js-textfield">
          <label class="mdl-textfield__label" for="text6">Timeframe for travel:</label>
          <input class="mdl-textfield__input" name="last_name" type="text" id="text6">
        </div>
        <div>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Submit Preferences</button>
        </div>
      </form>
    </div>
    <div class="mdl-layout-spacer"></div>
  </div>
</div>
