<div class="page-content" style="text-align: center; margin-top: 25vh;">
  <div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--4-col">
      <span class="mdl-layout-title"><img src="/FLIGHTm8.png" alt=""></span>

        <div>
          <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Go Back To Deals</a>
          <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Confirm</a>
        </div>
        <% if @error %>
        <p><%= @error %></p>
        <% end %>
      </form>
    </div>
    <div class="mdl-layout-spacer"></div>
  </div>
</div>
