<h1>Save Deal Page</h1>
<p>display deal information</p>
<form class="" action="/add_to_favorites" method="post">
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Add to favorites</button>
</form>
<form class="" action="/deals" method="get">
<button href= class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Cancel</button>
</form>
