// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*cards*/
.demo-card-wide.mdl-card {
  display: inline-block;
  width: 31%;
  padding: 1% 1% 1% 0% 1%;
  margin: 1% 1%;
  float: left;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.filterListContinent > * {
  display: inline-block
}

.price {
  float: right;
  margin: 0px 5px;
  font-size: 14px;
  font-weight: bold;
  color: blue;
}

/*dashboard*/
body {
  padding: 20px;
  background: white;
  position: relative;
  padding: 0px 0px;
}

header {
  background: white;
  text-align: center;
}

h1 {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px;
}

.btn-default:active .filter-button:active
{
  color: white;
}

.filter{
  background-color: #333;
  text-align: center;
  padding: 15px 0px;
}


.fav_true {
  background-color: rgba(100,180,130, 0.4) !important;
}

@media screen and (max-width: 980px) {

	.demo-card-wide.mdl-card {
		width: 94%;
		padding: 1% 3%;
    margin: 1% 3%;
    display: block;
	}
}

@media screen and (max-width: 600px) {
	.demo-card-wide.mdl-card {
		width: auto;
    padding: 20px 0px;
	}
  .btn{
    color: orange;
  }
  .filter{
    size: 3;
    padding: 5px 0px;
    margin: 5px auto;
  }
  .mdl-card__supporting-text.mdl-card__supporting-text{
    font-style: 12px;
  }
}
