<!DOCTYPE html>
<html>
  <head>
    <title>Flightm8</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-blue.min.css" />
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel='stylesheet' href='/stylesheets/main.css'> -->
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
</head>
<body>
  <div class="demo-layout-transparent mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <main class="mdl-layout__content">

      <%= yield %>

    </main>

    <footer class="mdl-mini-footer" style="color: white; background-color: #333; justify-content: center; padding-top: 0">
      <div class="mdl-mini-footer__middle-section">
        <div class="mdl-logo" style="color: white;">
          <h5>BEST MATES. BEST RATES</h5>
        </div>
      </div>
    </footer>

  </div>

</body>
</html>
